#dropdown-idiomas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-item {
    position: relative;
}

#nav-link {
    color: var(--color-light);
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    span {
        font-size: 20px;
    }
}

#nav-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-accent);
}

#dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    min-width: 180px;
    z-index: 1000;
}

#dropdown-menu li {
    width: 100%;
    padding: 6px 16px;
    color: var(--color-light);
    cursor: pointer;
    transition: background-color 0.3s;
    list-style: none
}

#dropdown-menu li:hover {
    background-color: var(--color-secondary);
}

#dropdown-menu label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.95rem;
}

#dropdown-menu input[type="radio"] {
    accent-color: var(--color-accent);
    cursor: pointer;
}