#dropdown-idiomas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-item {
    position: relative;
}

#nav-link {
    color: var(--color-text-subtitle);
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: color .5s;

    span {
        font-size: 20px;
    }
}

#nav-link:hover {
    color: var(--color-link-focus);
}

#dropdown-menu {
    position: absolute;
    left: 0;
    margin-top: 8px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color-primary);
    padding: 10px 0;
    min-width: 200px;
    z-index: 1000;
    bottom: 100%;
    margin-bottom: 8px;
}

#dropdown-menu.dropup {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 8px;
}

#dropdown-menu:not(.dropup) {
    top: 100%;
    bottom: auto;
    margin-top: 8px;
    margin-bottom: 0;
}

#dropdown-menu li {
    width: 100%;
    padding: 6px 16px;
    color: var(--color-text-subtitle);
    cursor: pointer;
    transition: background-color 0.3s;
    list-style: none
}

#dropdown-menu li:hover {
    background-color: var(--color-primary);
}

#dropdown-menu label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.95rem;
}

#dropdown-menu input[type="radio"] {
    accent-color: var(--color-text-subtitle);
    cursor: pointer;
}