.botao-linha-do-tempo {
    display: inline-block;
    padding: 10px;
    color: var(--color-text-title);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    a {
        font-weight: bold;
        text-align: center;
        display: inline-block;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    }
}

.popup-card {
    position: absolute;
    top: -10px;
    left: 100%;
    z-index: 10;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    .close-btn {
        position: absolute;
        top: 4px;
        right: 4px;
        background: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        line-height: 1;
    }
}