.botao-linha-do-tempo {
    display: inline-block;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    a {
        font-weight: bold;
        text-align: center;
        display: inline-block;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: var(--color-primary-translucent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}