<section id="section-inicio">
    <div id="container-inicio">
        <div id="container-inicio-texto">
            <div id="container-inicio-titulo">
                <h1 id="inicio-texto-titulo">Marcos Paulo Silva</h1>
            </div>
            <div id="container-inicio-subtitulo">
                <h2 id="inicio-texto-subtitulo">&#123;Desenvolvedor de Software&#125;</h2>
            </div>
        </div>
        <div id="container-inicio-imagem">
            <img src="assets/images/euInicio.jpg" alt="Minha foto no início" />
        </div>
    </div>
</section>