<section id="section-inicio" class="section">
    <div id="container-inicio" class="container">
        <div id="container-inicio-titulo">
            <h1>Marcos Paulo Silva</h1>
        </div>
        <!-- <div id="container-inicio-imagem">
            <img src="assets/images/euInicio-bw.png" alt="Minha foto no início" />
        </div> -->
        <div id="container-inicio-subtitulo">
            <h2>&#123;<span>{{ 'inicio.subtitulo' | translate }}</span>&#125;</h2>
        </div>
    </div>
    <app-menu-redes-sociais />
</section>