#section-experiencias-profissionais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: var(--color-secondary);
}

#container-experiencias-profissionais {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}