<section id="lista-slider" [style.--duration]="d" [style.--fade.px]="fade">
    <div id="slider-shell">
        <div id="slider-viewport">
            <div class="slider-runner" [style.--dir]="direction === 'right' ? 1 : -1">
                <ul class="slider-track">
                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }

                    @for (item of items; track item) {
                    <app-lista-card [item]="item"></app-lista-card>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>