<header>
  <nav id="nav-bar">
    <div id=logo>
      <p>Marcos Paulo Silva</p>
    </div>
    <ul id="nav-list">
      <li><a href="home">Home</a></li>
      <li><a href="about">Sobre</a></li>
      <li><a href="professional-experience">Experiências profissionais</a></li>
      <li><a href="projects">Projetos</a></li>
      <li><a href="contacts">Contato</a></li>
    </ul>

    <div id="configuracao-pagina">
      <app-switch-dia-noite/>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Linguagem
        </a>
        <ul class="dropdown-menu">
          <li><label class="form-check-label">
              <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
              Português
            </label>
          </li>
          <li><label class="form-check-label">
              <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
              Inglês
            </label>
          </li>
          <li><label class="form-check-label">
              <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
              Espanhol
            </label>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>