.section-promocoes {
    margin-top: 10vh;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-secondary);
    padding: 1rem;
}

.container-promocoes {
    max-width: 1400px;
    margin-inline: auto;
}