<div class="card-container">
    <div class="informacoes">
        <h4>{{ experienciaProfissional.cargo | translate}}</h4>
        <h6>{{ experienciaProfissional.empresa }}</h6>
        <p>{{ experienciaProfissional.descricao | translate }}</p>
    </div>
    <div class="habilidades">
        <h4>Skills</h4>
        <ul>
            @for (habilidade of experienciaProfissional.habilidades; track habilidade.nome) {
            <li>
                @if (habilidade.icone) {
                <img [src]="habilidade.icone" [alt]="habilidade.nome">
                }
                <p>{{ habilidade.nome }}</p>
            </li>
            }
        </ul>
    </div>
</div>