<div class="card-container">
    <div class="informacoes">
        <h4>{{ experienciaProfissional.cargo }}</h4>
        <h6>{{ experienciaProfissional.empresa }}</h6>
        <p>{{ experienciaProfissional.descricao }}</p>
    </div>
    <div class="habilidades">
        <h6>Skills</h6>
        <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
        </ul>
    </div>
</div>