<div class="timeline">
    @for (experiencia of listaDeExperienciasProfissionais; track experiencia.inicio; let i = $index) {
    <div class="timeline-item">
        <div class="timeline-dot"></div>

        <div class="timeline-container soft-ui-container" [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }">
            <div class="timeline-content">
                <div class="titulo">
                    <h3>{{ experiencia.cargo | translate }}</h3>
                    <div class="subtitulo">
                        <h6>{{ experiencia.empresa }}</h6>
                        <p>{{ experiencia.inicio| translate }} - {{ experiencia.fim | translate }}</p>
                    </div>
                    <div class="descricao">
                        <p>{{ experiencia.descricao | translate }}</p>
                    </div>
                </div>
                <div class="conteudo">
                    <ul>
                        @for (habilidade of experiencia.habilidades; track habilidade) {
                        <li>{{ habilidade.nome | translate }}</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    }
</div>