#container-card-experiencia-profissional {
    background-color: var(--color-light);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#container-texto {
    h2 {
        margin: 0;
        font-size: 1rem;
    }

    h3 {
        margin: 5px 0;
        font-size: 0.95rem;

        small {
            display: block;
            font-size: 0.8rem;
            color: #666;
        }
    }

    p {
        margin-top: 5px;
        font-size: 0.85rem;
        line-height: 1.4;
    }
}