#container-carrossel {
    display: flex;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 70vh;
    flex-direction: row;
    color: var(--color-text-title);
}

#container-macbook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#container-conteudo {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 40%;
    height: 100%;
    flex-direction: column;
}

#container-textos {
    top: 4%;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 70%;
    display: flex;
    place-content: center;
    place-items: center;
}

#texto {
    display: flex;
    flex-direction: column;
    place-content: start;
    place-items: start;
    width: 100%;
    height: 80%;
    padding: 3rem;
}


#titulo {
    font-size: 1.8rem;
}

#tipoDeProjeto {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text-title);
}

#descricao {
    font-size: 1rem;
    color: var(--color-text-title);
}

#container-botoes-de-acao {
    width: 100%;
    height: 30%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: start;
    place-items: center;
    gap: 50px;
    display: flex;
}

#container-botoes-de-acao-mobile {
    display: none;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--color-primary);
    color: var(--color-text-title);
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;

    p {
        margin: 0;
        padding: 0;
    }

    &:hover {
        p {
            margin: 0;
            padding: 0;
            transition: color .5s, transform .5s;
            color: var(--color-link-focus);
            transform: translateY(-1px);
        }
    }
}

@media (max-width: 768px) {

    #container-carrossel {
        flex-direction: column-reverse;
        height: 100vh;
    }

    #container-macbook {
        width: 100%;
        height: 30%;
    }

    #container-conteudo {
        width: 100%;
        height: 60%;
        justify-content: end;
    }

    #container-textos {
        width: 100%;
        height: 80%;
        padding: 0;
        place-items: start;
        place-content: center;
    }

    #texto {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        width: 100%;
    }


    #titulo {
        font-size: 1.8rem;
    }

    #tipoDeProjeto {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--color-text-title);
    }

    #descricao {
        font-size: 1rem;
        color: var(--color-text-title);
    }


    #container-botoes-de-acao {
        display: none;
    }

    #container-botoes-de-acao-mobile {
        display: flex;
        width: 100%;
        height: 10%;
        flex-direction: row;
        align-items: center;
        place-content: center;
        place-items: center;
        gap: 50px;
    }
}