<section id="section-sobre">
    <div id="background-sobre">
        <div id="container-sobre">
            <div id="texto-sobre">
                <h5>{{ 'sobre.descricao1' | translate }}
                    <br><br>
                    {{ 'sobre.descricao2' | translate }}
                    <br><br>
                    {{ 'sobre.descricao3' | translate }}<a href="https://www.instagram.com/marcospaulo.dev" target="_blank">&#64;marcospaulo&#46;dev</a>
                    {{ 'sobre.descricao4' | translate}}
                </h5>
            </div>
        </div>
    </div>
</section>