#section-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 50vh;
    width: 100%;
    padding: 0 12px;
    margin: 0;
    background-color: var(--color-primary);
}

#container-sobre {
    display: flex;
    place-content: center;
    place-items: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    max-width: 1400px;
}

#texto-sobre {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 16px;
    color: var(--color-text-title);
    padding: 20px;
    line-height: 1.6;
}

#texto-sobre a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-link-focus);
    transition: color .5s, transform .5s;
    margin: 0;
    padding: 0;
}

#texto-sobre a:hover {
    color: var(--color-text-title);
    transform: translateY(-1px);
}

#texto-sobre a h5 {
    display: inline;
    margin: 0;
    padding: 0;
}

#container-timeline {
    display: flex;
    place-content: center;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 1400px;
}

#container-tecnologias {
    display: flex;
    place-content: center;
    place-items: center;
    height: 10vh;
    width: 100%;
}