<header [class.translucido]="headerTranslucido">
  <nav id="nav-bar">
    <div id="logo">
      <a href="">
        <h3>{{ 'header.logo' | translate }}</h3>
      </a>
    </div>

    <div id="menu-toggle" (click)="menuAberto = !menuAberto">
      <h3>&#9776;</h3>
    </div>

    <div id="container-nav-list" [class.aberto]="menuAberto" [class.translucido]="headerTranslucido">
      <ol id="nav-list">
        <li>
          <a href="#section-inicio" (click)="fecharMenu()">{{ 'header.navbar.inicio' | translate }}</a>
        </li>
        <li>
          <a href="#section-sobre" (click)="fecharMenu()">{{ 'header.navbar.sobre' | translate }}</a>
        </li>
        <li>
          <a href="#section-experiencias-profissionais" (click)="fecharMenu()">{{ 'header.navbar.experiencias' |
            translate }}</a>
        </li>
        <li>
          <a href="#section-projetos" (click)="fecharMenu()">{{ 'header.navbar.projetos' | translate }}</a>
        </li>
        <li>
          <a href="#section-contatos" (click)="fecharMenu()">{{ 'header.navbar.contato' | translate }}</a>
        </li>
      </ol>
      <div id="container-configuracao-pagina">
        <app-switch-dia-noite></app-switch-dia-noite>
        <app-dropdown-idiomas></app-dropdown-idiomas>
      </div>
    </div>
  </nav>
</header>