<header [class.translucido]="headerTranslucido">
  <nav id="nav-bar">
    <div id="logo">
      <a href="">
        <h3>{{ 'header.logo' | translate }}</h3>
      </a>
    </div>

    <div id="menu-toggle" (click)="menuAberto = !menuAberto">
      <h3><i class="bi bi-list"></i></h3>
    </div>

    <div id="container-nav-list" [class.aberto]="menuAberto" [class.translucido]="headerTranslucido">
      <ol id="nav-list">
        @for (link of links; track link) {
        <li>
          <a [href]="link.url" (click)="fecharMenu()">{{ link.nome | translate }}</a>
        </li>
        }
      </ol>
      <div id="container-configuracao-pagina">
        <app-dropdown-idiomas />
        <app-switch-dia-noite />
      </div>
    </div>
  </nav>
</header>