header {
  color: var(--color-light);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease;

  &.translucido {
    background-color: var(--color-primary-translucent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px var(--color-primary);
  }
}

#nav-bar {
  height: 100%;
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;

    h3 {
      font-size: 1.875rem;
      color: var(--color-light);

      &:hover {
        text-decoration: underline;
        color: var(--color-muted);
      }
    }
  }
}

#container-nav-list {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#nav-list {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-light);

    &:hover {
      text-decoration: underline;
      color: var(--color-muted);
    }
  }
}

#container-configuracao-pagina {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;

    &.translucido {
      background-color: var(--color-primary-translucent);
      backdrop-filter: blur(10px);
      box-shadow: 0 2px 8px var(--color-primary-translucent);
    }
  }

  #nav-bar {
    width: 100%;
  }

  #logo {
    width: 80%;

    a h3 {
      font-size: 1.875rem;
    }
  }

  #menu-toggle {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.875rem;
    }
  }

  #container-nav-list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - 10vh);
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.2s ease, visibility 0.4s;

    &.translucido {
      background-color: var(--color-primary-translucent);
      backdrop-filter: blur(10px);
      box-shadow: 0 2px 8px var(--color-primary-translucent);
    }

    &.aberto {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    #nav-list {
      flex-direction: column;
      width: 100%;
      height: 60%;
      gap: 1.5rem;
    }

    #container-configuracao-pagina {
      width: 100%;
      height: 40%;
      gap: 0.625rem;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    &.translucido {
      background-color: var(--color-primary-translucent);
      backdrop-filter: blur(10px);
      box-shadow: 0 2px 8px var(--color-primary-translucent);
    }
  }

  #nav-bar {
    width: 100%;
  }

  #logo {
    width: 80%;
    justify-content: center;

    a h3 {
      font-size: 1.75rem;
      text-align: center;
    }
  }

  #menu-toggle {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.875rem;
    }
  }

  #container-nav-list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - 10vh);
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.2s ease, visibility 0.4s;

    &.translucido {
      background-color: var(--color-primary-translucent);
      backdrop-filter: blur(10px);
      box-shadow: 0 2px 8px var(--color-primary-translucent);
    }

    &.aberto {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    #nav-list {
      flex-direction: column;
      width: 100%;
      height: 60%;
      gap: 1.5rem;
    }

    #container-configuracao-pagina {
      width: 100%;
      height: 40%;
      gap: 0.625rem;
      justify-content: center;
    }
  }
}