<div id="linha-do-tempo">
    <div class="evento" *ngFor="let exp of listaDeExperienciasProfissionais" [style.left]="getPosicaoRelativa(exp)"
        (mouseenter)="experienciaHover = exp" (mouseleave)="experienciaHover = null">
        <div class="ponto"></div>
        <p>{{ exp.inicio }}</p>
        <div class="card" *ngIf="experienciaHover === exp">
            <app-card-experiencia-profissional [experienciaProfissional]="exp"></app-card-experiencia-profissional>
        </div>
    </div>
</div>