<footer>
    <nav id="container-footer" class="soft-ui-container">
        <div id="container-controles">
            <div id="logo">
                <h3>{{ 'footer.logo' | translate }}</h3>
            </div>
            <div id="menu-list">
                <app-nav-list [links]="links" orientation="horizontal" />
            </div>
            <div id="redes-sociais">
                <app-social-links [links]="socialLinks" size="sm" />
            </div>
            <div id="container-configuracao-pagina">
                <div class="botao soft-ui-container soft-ui-container-hover">
                    <app-dropdown-idiomas direction="up" />
                </div>
                <app-switch-dia-noite />
            </div>
        </div>
        <div id="creditos">
            <div class="creditos-texto">
                <p>{{ 'footer.desenvolvido-por' | translate }}</p>
            </div>
            <div id="creditos-link">
                <a href="">{{ 'footer.creditos.autor' | translate }}</a>
            </div>
            <div class="creditos-texto">
                <p>{{'footer.todos-os-direitos-reservados' | translate }}</p>
            </div>
        </div>
    </nav>
</footer>
