#menu-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    bottom: 10%;
    left: 5%;
    gap: 15px;
    padding: 10px;
    z-index: 5;
}

#botao-voltar-para-cima {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--color-primary);
    color: var(--color-text-subtitle);
    border-radius: 50%;
    text-decoration: none;
    transition: color 0.3s, opacity 0.3s, transform 0.3s;

    &:hover { color: var(--color-link-focus); }

    #seta { font-size: 1.8rem; }

    &.oculto {
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
    }
}

#redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(0);
    pointer-events: auto;

    &.menuRedesSociais {
        transform: translateY(45%);
        opacity: 0;
        pointer-events: none;
    }
}

#container-botoes-abrir-fechar-menu {
    position: relative;
    width: 48px;
    height: 48px;
}

#botao-abrir-redes-sociais,
#botao-fechar-redes-sociais {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text-subtitle);
    color: var(--color-primary);
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;

    &.oculto {
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
    }
}
