<div id="menu-redes-sociais">
    <div id="redes-sociais" [class.menuRedesSociais]="deveRetrair">
        <a id="botao-voltar-para-cima" href="#"
            [class.oculto]="!mostrarBotaoVoltar"
            class="soft-ui-container soft-ui-container-hover"
            (click)="scrollParaTopo(); $event.preventDefault()"
            aria-label="Voltar ao topo">
            <i id="seta" class="bi bi-arrow-up-short"></i>
        </a>
        <app-social-links [links]="socialLinks" orientation="vertical" />
    </div>

    <div id="container-botoes-abrir-fechar-menu">
        <a id="botao-abrir-redes-sociais"
            [class.oculto]="!deveRetrair"
            (click)="toggleMenu()"
            class="soft-ui-container soft-ui-container-hover"
            aria-label="Abrir redes sociais">
            <i class="bi bi-list"></i>
        </a>
        <a id="botao-fechar-redes-sociais"
            [class.oculto]="deveRetrair"
            (click)="toggleMenu()"
            class="soft-ui-container soft-ui-container-hover"
            aria-label="Fechar redes sociais">
            <i class="bi bi-x-circle-fill"></i>
        </a>
    </div>
</div>
