<footer>
    <nav id="container-footer">
        <div id="conteiner-controles">
            <div id="logo">
                <h3>Marcos Paulo Silva</h3>
            </div>
            <div id="menu-list">
                <div id="list">
                    <a href="#section-sobre">Sobre</a>
                    <a href="#section-experiencias-profissionais">Experiências</a>
                    <a href="#section-inicio">Home</a>
                    <a href="#section-projetos">Projetos</a>
                    <a href="#section-contatos">Contato</a>
                </div>
            </div>
            <div id="redes-sociais">
                <a href="https://www.github.com/silvamarcospaulo" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/silvamarcospaulo" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/marcospaulo.dev" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="mailto:silvampsmarcospaulo@gmail.com?subject=Contato%20do%20Portfólio&body=Olá%20Marcos,"
                    target="_blank">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
            <div id="container-configuracao-pagina">
                <app-switch-dia-noite />
                <app-dropdown-idiomas />
            </div>
        </div>
        <div class="linha-horizontal"></div>
        <div id="creditos">
            <p>2025 © Desenvolvido por <a href="#home">Marcos Paulo Silva</a>. Todos os direitos reservados.</p>
        </div>
    </nav>
</footer>