<footer>
    <nav id="container-footer">
        <div id="container-controles">
            <div id="logo">
                <h3>Marcos Paulo Silva</h3>
            </div>
            <div id="menu-list">
                <div id="list">
                    @for (link of links; track link) {
                    <a [href]="link.url">{{ link.nome | translate }}</a>
                    }
                    <!-- <a href="#section-contatos">{{ 'header.navbar.contato' | translate }}</a> -->
                </div>
            </div>
            <div id="redes-sociais">
                <a href="https://www.github.com/silvamarcospaulo" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/silvamarcospaulo" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/marcospaulo.dev" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="mailto:silvampsmarcospaulo@gmail.com?subject=Contato%20do%20Portfólio&body=Olá%20Marcos,"
                    target="_blank">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
            <div id="container-configuracao-pagina">
                <app-dropdown-idiomas />
                <app-switch-dia-noite />
            </div>
        </div>
        <div class="linha-horizontal"></div>
        <div id="creditos">
            <p>{{ 'footer.desenvolvido-por' | translate }}<a href="">Marcos Paulo Silva</a>{{
                'footer.todos-os-direitos-reservados' | translate }}</p>
        </div>
    </nav>
</footer>