.section-links-uteis {
    margin-top: 10vh;
    width: 100%;
    height: 50vh;
    background-color: var(--color-secondary);
    display: flex;
    place-content: center;
    place-items: center;
}

.container-links-uteis {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    gap: 1em;
}