<app-header />
<section class="section-promocoes">
  <div class="container-promocoes">
    <div class="tab-content pt-3">
      <div class="tab-pane">
        <h3 class="mt-4">Em Alta</h3>
        <div class="row row-cols-1 row-cols-md-3 g-3">
          <div class="col" *ngFor="let produto of emAlta">
            <app-card-promocao [promocao]="produto" />
          </div>
        </div>
      </div>

      <h3>Novidades</h3>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col" *ngFor="let produto of novos">
          <app-card-promocao [promocao]="produto" />
        </div>
      </div>


    </div>
  </div>
</section>
<app-footer />


<!-- <div class="mt-4 converter-link">
  <label class="form-label">Cole o link para converter</label>
  <input type="text" class="form-control" placeholder="https://">
  <button class="btn btn-secondary mt-2" (click)="gerarLink()">Gerar Link Afiliado</button>
  <input *ngIf="linkAfiliado" type="text" class="form-control mt-2" [value]="linkAfiliado" readonly>
</div> -->