<app-promocoes-header [filtroNome]="filtroNome" [marcaFiltro]="marcaFiltro" [ratingMinFiltro]="ratingMinFiltro"
  [mostrarSidebar]="mostrarSidebar" [marcas]="marcas" (filtrosChange)="onFiltrosAtualizados($event)" [links]="links"/>

<section id="section-promocoes">

  <!-- <div id="mt-4 converter-link">
    <label id="form-label">Cole o link para converter</label>
    <input type="text" id="form-control" placeholder="https://">
    <button id="btn btn-secondary mt-2" (click)="gerarLink()">Gerar Link Afiliado</button>
    <input *ngIf="linkAfiliado" type="text" id="form-control mt-2" [value]="linkAfiliado" readonly>
  </div> -->

  <div id="container-promocoes">

    <div id="container-todos-produtos">
      <div class="titulo">
        <h3>Todos os Produtos</h3>
      </div>
      <div id="todos-produtos">
        <div class="produto" *ngFor="let produto of produtosFiltrados">
          <app-card-promocao [promocao]="produto" />
        </div>
      </div>
    </div>

    <div id="container-novidades">
      <div class="titulo">
        <h3>Novidades</h3>
      </div>
      <div class="container-produtos">
        <div class="scroll-produtos">
          <div *ngFor="let produto of novos.slice(0, 10)">
            <app-card-promocao [promocao]="produto" />
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="container-em-alta">
      <div class="titulo">
        <h3 class="mt-4">Em Alta</h3>
      </div>
      <div class="container-produtos">
        <div class="scroll-produtos">
          <div *ngFor="let produto of emAlta.slice(0, 10)">
            <app-card-promocao [promocao]="produto" />
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<app-footer />