#dark-mode-switch {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    input[type="checkbox"] {
        display: none;

        &:checked+.slider {
            background-color: var(--color-muted);

            &::before {
                transform: translateX(22px);
            }
        }

        &:checked~#moon {
            display: inline;
        }

        &:checked~#sun {
            display: none;
        }
    }

    .slider {
        width: 45px;
        height: 24px;
        background-color: #ccc;
        border-radius: 34px;
        position: relative;
        transition: background-color 0.3s;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            left: 3px;
            top: 3px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.3s;
        }
    }

    #moon,
    #sun {
        font-size: 1.2rem;
        color: var(--color-muted);
    }

    #moon {
        display: none;
    }
}