@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --color-primary: #f3f3f3;
  --color-secondary: #ffffff;
  --color-text-title: #333333;
  --color-text-subtitle: #555555;
  --color-link: #0066cc;
  --color-link-focus: #004a99;
  --color-border: #d0d0d0;
  --shadow-dark: rgba(0, 0, 0, 0.1);
  --shadow-light: rgba(255, 255, 255, 0.9);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-text-subtitle);
  font-family: 'Lexend', sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-mode {
  --color-primary: #f3f3f3;
  --color-secondary: #ffffff;
  --color-text-title: #333333;
  --color-text-subtitle: #555555;
  --color-link: #0066cc;
  --color-link-focus: #004a99;
  --color-border: #d0d0d0;
  --shadow-dark: rgba(0, 0, 0, 0.1);
  --shadow-light: rgba(255, 255, 255, 0.9);
}

body.dark-mode {
  --color-primary: #121212;
  --color-secondary: #1E1E1E;
  --color-text-title: #FFFFFF;
  --color-text-subtitle: #B3B3B3;
  --color-link: #1E90FF;
  --color-link-focus: #00BFFF;
  --color-border: #2A2A2A;
  --shadow-dark: rgba(0, 0, 0, 0.6);
  --shadow-light: rgba(60, 60, 60, 0.3);
}

* {
  transition: color 0.5s ease, transform 0.5s ease;
  font-family: inherit;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-link);
}

a:hover,
a:focus {
  color: var(--color-link-focus);
}

.soft-ui-container {
  background: var(--color-secondary);
  box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
  border-radius: 24px;
}

.soft-ui-container-hover:hover {
  box-shadow: 5px 5px 10px var(--shadow-light), -5px -5px 10px var(--shadow-dark);
}