.register-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.register-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.endereco-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.erro {
  color: red;
}
