#section-projetos {
    display: flex;
    justify-content: center;
    place-content: center;
    place-items: center;
    height: auto;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#container-projetos {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    display: flex;
    place-content: center;
    place-items: center;
}

@media (max-width: 768px) {
    #section-projetos {
        height: 50vh;
        min-height: auto;
    }
}