#section-projetos {
    display: flex;
    justify-content: center;
    place-content: center;
    place-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--color-secondary);
    overflow: hidden;
}

#container-projetos {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1400px;
    display: flex;
    place-content: center;
    place-items: center;
}

@media (max-width: 768px) {
    #section-projetos {
        height: 60vh;
    }
}